$primary_color: #6E6E6E;
$secondary_color: #0F6DB8;
$ternary_color: #0C2C36;
$quaternary_color: #A8A8A8;
$white_color: #ffffff;
$black_color: #000000;


$notoFont: "Noto Serif", sans-serif;
$robotoFont: "Roboto", sans-serif;

// Breakpoints
$xxxl: 1280px;
$xxl: 1200px;
$xl: 1024px;
$lg: 899px;
$md: 767px;
$sm: 599px;
$xs: 480px;
$ss: 380px;